<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" cacheResult="false" testdox="true" noInteraction="true" executionOrder="random">
    <coverage>
        <report>
            <html outputDirectory="../../var/coverage/html" lowUpperBound="10" highLowerBound="90" />
            <xml outputDirectory="../../var/coverage/xml"/>
        </report>
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
    </coverage>
    <logging>
        <junit outputFile="../../var/coverage/xml/log.junit.xml"/>
    </logging>
    <php>
        <env name="ENVIRONMENT" value="test" />
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>
</phpunit>